{% extends 'base.html' %}
<script src="multiselect-dropdown.js"></script>

{% block header %}
<h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="body">Message</label>
    <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <label for="tag">Tag</label>
    <textarea name="tag" id="tag">{{ request.form['tag'] }}</textarea>
    <script>
        var expanded = false;

        function showCheckboxes() {
            var checkboxes = document.getElementById("checkboxes");
            if (!expanded) {
                checkboxes.style.display = "block";
                expanded = true;
            } else {
                checkboxes.style.display = "none";
                expanded = false;
            }
        }

        function addTagToArray() {
            let tags = [];
            let selected_tags = document.querySelectorAll("input[type='checkbox']:checked");
            let index = 0;
            for (let tag of selected_tags) {
                tags.push(index);
                index++;
            }
        }
    </script>
    <form>
        <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
                <select>
                    <option>Select an option</option>
                </select>
                <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
                <label for="0">
                    <input type="checkbox" id="0" />Social</label>
                <label for="1">
                    <input type="checkbox" id="1" />Sports</label>
                <label for="2">
                    <input type="checkbox" id="2" />Academic</label>
                <label for="3">
                    <input type="checkbox" id="3" />Food and Drink</label>
                <label for="4">
                    <input type="checkbox" id="4" />School Club</label>
                <label for="5">
                    <input type="checkbox" id="5" />Other</label>
            </div>
        </div>
    </form>
    <label for="location">Location</label>
    <input name="location" id="location" value="{{ request.form['location'] }}" required>
    <label for="date">Date</label>
    <input type="date" name="date" id="date" value="{{ request.form['date'] }}" required>
    <label for="time">Time</label>
    <input type="time" name="time" id="time" value="{{ request.form['time'] }}" required>
    <label for="joins">Maximum Group Size</label>
    <input name="joins" id="joins" value="{{ request.form['joins'] }}" required>
    <input type="submit" value="Save">
</form>
{% endblock %}