{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('blog.create') }}">New</a>
{% endif %}
{% endblock %}

{% block content %}
{% for post in posts %}
<article class="post">
    <header>
        <div>
            <h1><a class="action" href="{{ url_for('blog.post_page', id=post['id']) }}">{{ post['title'] }}</a></h1>
            <div class=" about" style="padding-left: 10px;">by {{ post['username'] }} on {{
                post['created'].strftime('%Y-%m-%d') }}
            </div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
        <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
        <form action="{{ url_for('blog.view_joined', id=post['id']) }}" method="post" style="padding-right: 10px;">
            <button type="submit">View Attendees</button>
        </form>
        {% endif %}
    </header>
    <p class="tag" style="color: rgb(185, 128, 185); padding-left: 10px;">#{{ post['tag']}}</p>
    <p class="location" style="padding-left: 10px;">Location: {{ post['location']}}</p>
    <p class="time" style="padding-left: 10px;">Time: {{ post['time']}}</p>
    <p class="time" style="padding-left: 10px;">Date: {{ post['date']}}</p>
    <p class="body" style="padding-left: 10px; padding-right: 10px;">Information: {{ post['body'] }}</p>
    <p class="joins" style="padding-left: 10px;">{{ post['joins']}}</p>
    <form action="{{ url_for('blog.join_post', id=post['id']) }}" method="post" style="padding-left: 10px;">
        <input class="danger" type="submit" value="Join Event" onclick="return confirm('Are you sure?');">
    </form>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}